* {
  overflow-x: hidden;
}

body {
  background-color: blue;
}

footer {
  height: 4rem;
}

.likes-count {
  position: relative;
  float: right;
}

.n-link {
  font-size: 1.15rem;
}

.comments-form {
  text-align: left;
  width: 75%;
  margin: auto;
}

textarea {
  width: 100%;
}

input {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .comments-form {
    text-align: left;
    width: 90%;
    margin: auto;
  }

  textarea {
    width: 100%;
  }

  input {
    width: 100%;
  }
}

.modal-content {
  overflow-y: initial !important;
  height: 90vh !important;
}

.characteristics {
  font-size: 1.1rem;
}

.align-left {
  text-align: left !important;
}

h4,
h5 {
  overflow: hidden !important;
}

.red {
  color: red;
}

.green {
  color: green;
}

.comments {
  display: block;
  margin: auto;
  max-height: 300px;
}